<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/Head") %>
    <title>Signup Page</title>
</head>
<body>
    <%- include("./partials/Nav") %>
    <form class="container mt-4" method="post" action="/user/signup">
        <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" required class="form-control" name = "fullName" id="fullName" aria-describedby="fullName">
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" required name = "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" required name = "password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <%- include("./partials/Script") %>
</body>
</html>